@media (max-width: 720px) {
    html{
        font-size: 50px;
        /*  360/720 * 100 防止抖动*/
    }
    .main-bg{
        padding-bottom: 1rem;
    }
    header{
        position:fixed;
        top: 0;
        width: 100%;
        z-index: 1994;
    }
    header .mobile-header{
        display: flex;
        justify-content: space-between;
        background-color:#1c2b36;
        height: 1rem;
        align-items:center;
    }
    header .icon2{
        width: .8rem;
        height: .8rem;
        display: flex;
        padding: 1px;
        margin-left: .2rem;
        box-sizing: border-box;
        border-radius: 50%;
        border:1px solid #fff;
        overflow:hidden;
    }
    header .icon2 img{
        max-width: 100%;
        cursor: pointer;
        border-radius: 50%;
    }
    header .mobile-header span{
        font-size: 0.5rem;
        line-height: 1;
        color: #fff;
    }
    header .mobile-header .menu{
        height:.6rem;
        font-size: .5rem;
        line-height:.6rem;
        padding: 0;
        margin-right:.2rem;
        background-color:transparent;
        border: none;
        outline:none;
    }
    header .mobile-header .menu i{
        font-size: .5rem;
        color: #fff;
    }
    nav{
        width: 70%;
        position: fixed;
        z-index: 1995;
        top: 1rem;
        bottom: 0;
        padding-top:.5rem ;
        background-color:#1c2b36;
        transform: translate(-100%,0);
        transition:transform 0.4s ease;

    }
    .mobile-shade{
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        position: fixed;
        z-index: 1994;
        top: 0;
        left: 0;
        display: none;   
    }
    .on-sidebar{
        transform: translate(0,0);
    }
    nav ul{
        display: block;
    }
    nav .logo{
        display: none;
    }
    nav ul li a{
        display: block;
        font-size: .4rem;
        height: .8rem;
        text-align: center;
        line-height:.8rem;
        color:#fff;
        text-decoration: none;
        box-sizing: border-box;
        cursor: pointer;
    }
    header .iconfont-qq{
        display: none;
    }
    .search {
        display: none;
    }

    .main-title {
        padding: 2rem 0 .7rem 0;
        margin: 0;
        font-size: .8rem;
        text-align: center;
        font-weight: normal;
    }
    .main-text {
        margin: 0 0 .5rem;
        font-size: .45rem;
        text-align: center;
        font-weight: normal;
    }
    .download {
        margin: 1rem;
        display: flex;
        justify-content: center;
    }

    .download a {
        display: inline-block;
        text-decoration: none;
        border: 1px solid #fff;
        border-radius: 5px;
        padding: .3rem .4rem;
        font-size: .4rem;
        color: #fff;
        background: transparent;
        cursor: pointer;
    }
    .download .setup:hover {
        color: #fff;
        background: #E7262C;
    }
    .download .green{
        display:none;
    }
    .version {
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        text-align: center;
        font-size: .35rem;
        height: 1rem;
        margin: 0 auto;

    }
    .gray-bg{
        background: #F6F7FA;
        padding-bottom: .5rem;
    }

    .trait .trait-block {
        display: flex;
        align-items: center;
        padding: .7rem .2rem 0 .2rem;
    }
    .trait .trait-block .line {
        background: #c3c3c3;
        flex-grow: 1;
        height: 1px;
        color: red;
    }
    .trait .trait-text {
        margin: 0;
        font-size: .4rem;
        text-align: center;
        color: #222;
        padding: 0 .3rem;
        font-weight: normal;
    }
    .trait ul {
        display: flex;
        padding: 0;
        flex-direction: column;
        margin: 0;
    }
    .trait ul li {
        padding: .3rem;
        display: flex;
    }
    .trait li .card {
        background: #fff;
        padding: .5rem .3rem;
        border-radius: 5px;
        box-shadow: 0 10px 40px 0 rgba(62, 57, 107, .07), 0 2px 9px 0 rgba(62, 57, 107, .06);
    }
    .trait li .card:hover {
        box-shadow: 0 10px 40px 0 rgba(62, 57, 107, .37), 0 2px 9px 0 rgba(62, 57, 107, .36)
    }
    .trait li .icon {
        line-height: 1;
        text-align: center;
    }
    .trait li .icon i {
        font-size: .8rem;
        color: #1296db;
    }
    .trait li .title {
        font-size: .4rem;
        text-align: center;
        padding-top:.4rem;
        color: #444;
    }
    .trait li .text {
        font-size: .3rem;
        color: #777;
        text-align: center;
        padding-top:.2rem;
        line-height: 1.5;
        margin: 0;
    }

    footer.black-bg {
        background: #222;
        padding:.7rem 0;
    }
    footer.black-bg p {
        font-size: .3rem;
        padding: 0;
        margin: 0;
        color: #fff;
        text-align: center;
        line-height: 1.5;
    }
    footer.black-bg p a {
        color: #fff;
        text-align: center;
        text-decoration: none;
    }
    footer.black-bg p a:hover {
        text-decoration: underline;
    }
    /******* index end *********/

    .article-main {
        margin-top: 1rem;
        min-height: 300px;
        color: #333;
    }
    .post-main, .archive-main {
        box-sizing: border-box;
        padding: 0 .4rem;
    }

    /*archive-main是分类页*/
    .archive-main .archive-title {
        text-align: center;
        font-size: .4rem;
        margin: 0;
        padding: .5rem 0;
        border-bottom: 1px solid #e3e3e3;
    }
    .post-title {
        font-size: 25px;
        padding: .3rem;
        text-align: center;
        margin: 0;
    }
    .post-title a {
        font-size: .4rem;
        color: #333;
        font-weight: 500;
    }

    .archive-main .post-title {

        font-size: .3rem;
        color: #333;
    }
    .archive-main .post-title a {
        font-size: .4rem;
        color: #333;
    }
    .archive-main .post-content {
       display: none;
    }
    .sidebar-main{
        display: none;
    }
    .post-meta {
        display: flex;
        font-size: .35rem;
        line-height: 1.5;
        flex-direction: column;
        justify-content: center;
        padding:0 0  .4rem 0;
        list-style: none;
        text-align: center;
        margin: 0;
    }

    .post-main .post-meta {
        border-bottom: 1px solid #e3e3e3;
    }

    .post-meta a:hover {
        text-decoration: underline;
    }
    .post-content {
        font-size: .3rem;
        border-bottom: 1px solid #e3e3e3;
        line-height: 1.5;
        word-wrap: break-word;
    }
    .post-content p{
        margin:0.1rem 0;
    }

    /**** post-content table ****/
    .post-content table th,td{
        font-weight:normal;
        padding:2px;
        border-width: 1px;
        border-style: solid;
        border-color: #e6e6e6
    }
    .post-content table th:first-child{
        width: 30%;
    }
    .post-content table th:nth-child(2){
        width: 18%;
    }
    .post-content table th:nth-child(3){
        width: 25%;
    }
    .post-content blockquote {
        margin: 0;
        padding-left: .2rem;
        border-left: 4px solid #bbb;
    }
    .post-content img {
        max-width: 100%;
        padding:2px;
        border: 1px solid #ddd;
        cursor: pointer;
    }
    .post .tags{
        font-size: .3rem;
    }
    .post-near {
        font-size: .3rem;
        list-style: none;
        margin: .3rem 0;
        padding: 0;
        color: #666;
    }
    .post-near li {
        margin: .1rem 0;
    }

    .custom-main {
        padding: 0 .4rem;
    }
}